---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <!--<img src="images/logo/opsn-logo.png" alt="Open Psychological Science Nigeria" class="center-block" style="max-width: 280px; margin-bottom: 30px;"> -->
      <p align="center">
      <img src="images/logo/opsn-logo.png" data-action="zoom" width="50%" />
      </p>

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      <strong>The Open Psychological Science Nigeria is a community of researchers dedicated to advancing transparent, reproducible, and open psychological research in Nigeria.</strong>
      </p>

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      We meet for workshops, tutorials, and webinars to learn open science tools and principles. We also collaborate on psychological, social, and behavioural sciences projects in Nigeria.
      </p>

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      We are currently supported by the generous time and efforts of our volunteers.
      </p>

      <img class='img-responsive center-block' src="/images/logo/labphoto_ecg.jpg" style="max-width: 80%; margin: 20px auto;" />

      <p>
      <i>Open Science. Psychology. Social Science<br>
     Open Data. Metascience.<br>
      Training. Empowerment</i>

        <span style="display: block; margin-bottom: 3em"></span>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>
        
   
    </header>
</div>
